@model ListViewModel
@using CoolBooksProject.ViewModels;

    <h1>@Model.CurrentGenre</h1>
    <br />


    @foreach (var book in Model.Books)
    {

        @Html.Partial("BookOverviewSummary", book)

    }




